@import "./style.scss";

@media (max-width: 567px) {
  .hero-image-front img {
    width: 300px;
  }
  .search-bar {
    width: 300px;
    margin: 0 auto;
  }
  .card img {
    width: 100%;
  }
  .trips-card,
  .trip-cards,
  .trip-card {
    width: 100%;
  }
  .trip-card-div img {
    width: 100% !important;
  }
  .trip-card {
    margin-top: 30px;
  }
  .trip-card img {
    width: 100%;
  }
  .trip-navbar ul {
    // flex-wrap: wrap;
    overflow: scroll;
    gap: 40px !important;
    white-space: nowrap;
    overflow: scroll;
    li {
      word-wrap: nowrap;
    }
  }

  .blog-card-row {
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    gap: 20px;
  }
  .review {
    width: 100%;
  }
  .homepage-title {
    padding-top: 60px !important;
  }
  .homepage-tours .main-title {
    font-size: 40px;
  }
  .homepage-tours .title-shadow {
    font-size: 50px;
    display: none;
  }
  .homepage-sm-padding {
    padding-top: 50px;
  }
  .reccommended-cards {
    padding: 0 0.5rem;
    .row {
      justify-content: center;
    }
  }
  .page-hero .container-fluid .container {
    padding: 0;
    padding-bottom: 30px;
  }
  .trip-header {
    display: block;
  }
  .top-bar {
    padding: 10px 0;
    flex-direction: column;
    &-contact {
      width: 100%;
      .row {
        flex-direction: column;
        gap: 10px;
        .col {
          text-align: center;
        }
      }
    }
    img {
      width: 100px;
    }
  }
  .navbar {
    margin: 0;
  }

  .newsletter {
    margin-top: 60px;
    &-image {
      height: 300px;
    }
    .content {
      margin-top: 20px;
    }
  }
  .footer {
    margin-top: 60px;
    &-container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
  .footer ul li {
    display: flex;
    justify-content: center;
  }
  .footer-copyright-section {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    .footer-social {
      justify-content: center;
    }
  }
  .slider-blog {
    width: 300px !important;
    .card {
      width: 300px;
    }
  }

  .detail-itinerary {
    img {
      height: 200px !important;
    }
  }

  .fix-departure-date {
    td {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
    }
    td::before {
      min-width: 90px;
    }
    .start-date::before {
      content: "Start Date";
    }
    .end-date::before {
      content: "End Date";
    }
    .status::before {
      content: "Status";
    }
    .price::before {
      content: "Price";
    }
    .action::before {
      content: "Action";
    }
  }
  thead {
    display: none;
  }

  .trip-info-container {
    flex-direction: column;
  }

  .trip-gallery {
    iframe,
    img {
      height: 300px;
    }
  }
  .destination-container {
    gap: 10px;
    .overlary-text {
      opacity: 0.6;
    }
  }

  .mobile-trip-price {
    display: none;
    position: fixed;
    background: #202222;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 10px 20px 10px;
    z-index: 101;
  }
  .mobile-trip-price .trip-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .blog-card {
    &-image {
      img {
        height: 300px;
      }
    }
  }
}

@media (min-width: 567px) and (max-width: 820px) {
  .navbar {
    margin: 0;
    padding-left: 23px !important;
  }
  .homepage-tours .title-shadow {
    font-size: 60px;
  }
  .trips-card,
  .trip-card {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .blog-card-row {
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    display: flex;
    scroll-behavior: smooth;
    gap: 20px;
  }

  .review {
    width: 100%;
  }
  .newsletter {
    margin-bottom: 250px;
    .row {
      gap: 20px;
    }
  }

  .slider-blog {
    width: 300px !important;
    .card {
      width: 300px;
    }
  }

  .footer {
    margin-top: 60px;
    &-container {
      display: flex;
      //   text-align: center;
    }
    .legal-info {
      text-align: center;
      ul {
        display: flex;
        justify-content: center;
        gap: 20px;
      }
    }
  }
  .footer ul li {
    display: flex;
    // justify-content: center;
  }
  .footer-copyright-section {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    .footer-social {
      justify-content: center;
    }
  }
  .trip-navbar ul {
    // flex-wrap: wrap;
    overflow: scroll;
    gap: 40px !important;
    white-space: nowrap;
    overflow: scroll;
    li {
      word-wrap: nowrap;
    }
  }
  .trip-header-btn {
    display: none;
  }
  .mobile-trip-price {
    display: none;
    position: fixed;
    background: #202222;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 10px 20px 10px;
    z-index: 101;
  }
  .mobile-trip-price .trip-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.price-box-header {
  color: #fff;
  background-color: $primary;
  padding: 10px 20px;
  display: flex;
  gap: 13px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: relative;
  i {
    font-size: 40px;
  }
  .price-box-title {
    font-weight: 700;
    font-size: 21px;
  }
  .price-box-price {
    font-size: 29px;
    font-weight: 700;
  }
}

.price-box-body {
  .price-dropdown {
    width: 100%;
    .dropdown-toggle {
      width: 100%;
    }
    .dropdown-menu.show {
      width: 100%;
      padding: 10px 20px;
      table {
        width: 100% !important;
      }
    }
  }
}
