@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1a7b89 !important;
  --bs-btn-border-color: #1a7b89 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #176d7a !important;
  --bs-btn-hover-border-color: #176d7a !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #176d7a !important;
  --bs-btn-active-border-color: #176d7a !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1a7b89 !important;
  --bs-btn-disabled-border-color: #1a7b89 !important;
}

.btn-warning {
  --bs-btn-color: #000;
  --bs-btn-bg: #f7941d !important;
  --bs-btn-border-color: #f7941d !important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f7941d !important;
  --bs-btn-hover-border-color: #f7941d !important;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f7941d !important;
  --bs-btn-active-border-color: #f7941d !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f7941d !important;
  --bs-btn-disabled-border-color: #f7941d !important;
}

* p {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
}

.title {
  font-family: "Bitter", serif;
  font-weight: 600;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar-contact span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.top-bar-contact a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.top-bar-whatsapp {
  color: #02db3f;
}
.top-bar-viber {
  color: #a400be;
}

.trip-navbar {
  background: #1a7b89;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
}
.trip-navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px !important;
}
.trip-navbar ul li {
  color: #fff;
  list-style: none;
}
.trip-navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.trip-navbar ul li a:hover {
  color: #f7941d;
}
.trip-navbar .container {
  justify-content: center !important;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}

.navbar {
  background: #1a7b89;
  margin: 0 auto;
}
.navbar ul {
  gap: 30px;
}
.navbar ul li a {
  font-weight: 500;
  color: #fff;
}
.navbar ul li a:hover {
  color: #ffc107;
}
.navbar a.active {
  color: #ffc107 !important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.hero {
  background: url(./images/heroImage.jpg);
  height: calc(100vh - 162px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}
.hero-image-front {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-image-front img {
  width: 416px;
}
.hero-image-front input {
  border-radius: 30px;
  border: 0.5px solid #6c757d;
  padding: 10px;
  text-align: center;
}
.hero .search-bar:focus-visible {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
}

.header-offer {
  background: #1a7b89;
  height: 77px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-offer p {
  font-size: 14px;
}
.header-offer span {
  font-size: 18px;
}

.homepage-tours {
  text-align: center;
  padding-top: 136px;
}
.homepage-tours .homepage-title {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 120px;
}
.homepage-tours h4 {
  font-family: "Bitter", serif;
  font-weight: 700;
}
.homepage-tours .main-title {
  position: absolute;
  text-align: center;
  font-size: 48px;
}
.homepage-tours .title-shadow {
  position: absolute;
  font-size: 90px;
  text-align: center;
  opacity: 10% !important;
}

.trip-card {
  background: #fff;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
  border: 0.5px solid #dee2e6;
  margin-top: 60px;
}
.trip-card h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.trip-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.trip-card-body {
  padding: 20px 10px;
}
.trip-card .location p {
  font-size: 12px;
}
.trip-card-review span {
  color: #ffc107;
}
.trip-card-div {
  position: relative;
}
.trip-card .feature-text {
  right: 0;
  background: #dc3545;
  border-radius: 10px 0 0 10px;
  color: #fff;
}
.trip-card .group-text {
  left: 0;
  background: #ffc107;
  border-radius: 0 10px 10px 0;
}
.trip-card .feature-text,
.trip-card .group-text {
  position: absolute;
  z-index: 9;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.trip-card .feature-text p,
.trip-card .group-text p {
  margin: 0;
}

.trips-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.trip-card-review {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.trip-card-review .review-star {
  display: flex;
}
.trip-card-review .review-star span {
  font-size: 12px;
}
.trip-card-review p {
  margin: 0;
}

.best-selling-tour {
  flex-wrap: nowrap !important;
  overflow-y: hidden;
  display: flex;
  scroll-behavior: smooth;
}

.slider-card {
  width: 80%;
}

.trip-slider {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.home-banner {
  background-image: url(./images/himalayas.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: bottom;
  align-items: flex-end;
}
.home-banner .content h4 {
  font-size: 48px;
  font-family: "Bitter", serif;
  font-weight: 700;
}

.trip-cards {
  width: -moz-max-content;
  width: max-content;
}

.trips-card {
  width: -moz-max-content;
  width: max-content;
}
.trips-card-row {
  display: flex;
  justify-content: space-between;
}

.blog-card {
  text-align: left;
  font-size: 12px;
}
.blog-card-row {
  display: flex;
  justify-content: space-between;
}
.blog-date {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
  color: #6c757d;
}
.blog-date p {
  margin: 0;
}

.newsletter {
  margin-top: 160px;
  background-color: #f9f9f9;
  padding: 0 !important;
  height: 600px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsletter .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.newsletter-image {
  height: 600px;
  background: url(./images/heroImage.jpg);
  background-size: cover;
  background-position: center;
}
.newsletter .content {
  text-align: center;
}
.newsletter .content h4 {
  font-size: 36px;
  font-family: "poopins", sans-serif;
}
.newsletter .content span {
  color: #1a7b89;
}
.newsletter .content p {
  font-weight: 200;
  font-size: 16px;
}
.newsletter .content .subscribe-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter .content .subscribe-email input {
  border-radius: 40px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 50%;
}
.newsletter .content .subscribe-email .subscribe-btn {
  margin: 0 auto;
  border-radius: 10px;
}

.reccommended-cards {
  margin-top: 115px;
}
.reccommended-cards .row {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.reccommended-cards .title p {
  font-weight: 700;
}
.reccommended-cards .title span {
  font-size: 50px;
  color: #f7941d;
}
.reccommended-cards .card-1 {
  background: #f6f6fa;
}
.reccommended-cards .card-2 {
  background-color: #fcf9e5;
}
.reccommended-cards .card-3 {
  background-color: #e3f5f1;
}
.reccommended-cards .card-1,
.reccommended-cards .card-2,
.reccommended-cards .card-3 {
  border-radius: 40px;
  padding: 30px 20px;
}
.reccommended-cards .card-1:hover,
.reccommended-cards .card-2:hover,
.reccommended-cards .card-3:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.reccommended-cards .card-1 .content,
.reccommended-cards .card-2 .content,
.reccommended-cards .card-3 .content {
  font-size: 14px;
  line-height: 2;
}

.review {
  width: 800px;
  margin: 0 auto;
}
.review-name {
  font-size: 16px;
  font-weight: 500;
}
.review-trip {
  font-size: 18px;
  font-weight: 500;
}
.review-rate span {
  color: #ffc107;
}

.footer {
  background: #1a7b89;
  padding: 20px 0;
  color: #fff;
  margin-top: 150px;
}
.footer-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-content {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer-content .icons {
  margin-right: 3px;
  width: 16px;
  height: auto;
}
.footer ul {
  padding: 0;
}
.footer ul li {
  list-style: none;
}
.footer-container {
  padding-bottom: 30px;
  border-bottom: 0.5px solid #fff;
  display: flex;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-copyright-section {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
}
.footer-copyright-section .col-auto {
  padding: 0;
}

.page-hero {
  background: url(./images/heroImage.jpg);
  height: calc(100vh - 162px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: flex-end;
}
.page-hero .container-fluid {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6474964986) 30%, rgba(0, 0, 0, 0) 100%);
}
.page-hero .container-fluid .container {
  padding: 30px;
}

.trip-header {
  display: flex;
  justify-content: space-between;
}

.trip-info-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.trip-info-icon i {
  font-size: 30px;
}
.trip-info-icon-detail {
  display: flex;
  flex-direction: column;
}
.trip-info-icon-detail .trip-info-icon-header {
  font-size: 14px;
}
.trip-info-icon-detail .trip-info-subheader {
  margin-top: -5px;
  color: #1a7b89;
}
.trip-info-icon-detail .trip-info-tooltip {
  font-size: 14px;
  color: #f7941d;
}

.trip-info-icon-row {
  gap: 60px;
}

.trip-info-container p {
  text-align: justify;
}

.trip-highlight ul {
  padding: 0;
}
.trip-highlight ul li {
  list-style: none;
}

.itinerary-icon-info ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.itinerary-icon-info ul li {
  list-style: none;
}

.itinerary-icon-info ul li::before {
  font-family: FontAwesome;
  margin-right: 5px;
  font-size: 0.875rem;
  color: #1a7b89;
}

.itinerary-icon-info ul li.altitude::before {
  content: "\f1fe";
}

.itinerary-icon-info ul li.meals::before {
  content: "\f2e7";
}

.itinerary-icon-info ul li.accommodation::before {
  content: "\f236";
}

.detail-itinerary img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail-itinerary-days {
  font-weight: 500;
}
.detail-itinerary-days::before {
  content: "\f3c5";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #f7941d;
}
.detail-itinerary .accordion-button:focus {
  border: none;
  box-shadow: none;
}
.detail-itinerary .accordion-button::after {
  content: "\f055";
  font-family: FontAwesome;
  background-image: none;
  color: #6c757d;
}
.detail-itinerary .accordion-button:not(.collapsed)::after {
  content: "\f056";
  font-family: FontAwesome;
  background-image: none;
  color: #6c757d;
  transform: none;
}
.detail-itinerary .accordion-button:not(.collapsed) {
  background: #f8f9fa;
}

.trip-map-image {
  height: 500px;
  overflow: scroll;
  -o-object-fit: cover;
     object-fit: cover;
}
.trip-map img {
  width: 100%;
}

.trip-info .title::before {
  content: "\f15c";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #1a7b89;
}

.trip-highlight .title::before {
  content: "\f1c5";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #1a7b89;
}

.detail-itinerary .title::before {
  content: "\f5a0";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #1a7b89;
}

.trip-map .title::before {
  content: "\f54b";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #1a7b89;
}

.trip-highlight ul li::before {
  content: "\f058";
  font-family: FontAwesome;
  color: #f7941d;
  line-height: 2;
}

.cost-include .title::before {
  content: "\e5a0";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #198754;
}

.cost-include-content {
  list-style: none;
  padding: 0;
}
.cost-include-content li:before {
  content: "\f058";
  font-family: FontAwesome;
  color: #198754;
  margin-right: 5px;
}

.cost-exclude-content {
  display: none;
  list-style: none;
  padding: 0;
}
.cost-exclude-content li:before {
  content: "\f057";
  font-family: FontAwesome;
  color: #dc3545;
  margin-right: 5px;
}

.hide {
  display: none;
}

.btn-success::before {
  color: #fff !important;
}

.btn-danger::before {
  color: #fff !important;
}

.cost-include-btn::before {
  content: "\f058";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #198754;
}

.cost-include-btn:hover::before {
  color: #fff;
}

.cost-exclude-btn:hover::before {
  color: #fff;
}
.cost-exclude-btn::before {
  content: "\f057";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #dc3545;
}/*# sourceMappingURL=style.css.map */